* {
    font-family: 'Poppins', sans-serif;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin: auto;
    background: #bab9b992;
    color: #051d4c;
}

.carousel-root .slide {
    height: 240px !important;
}